---
services:
  boilbot:
    build: .
    container_name: boiler-bot
    restart: unless-stopped
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
    volumes:
      - ./data:/app/data
      - ./temp:/app/temp
      - ./cache:/app/cache